@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavItems {
  justify-content: space-between;
  padding: 30px;
}

.NavItems h3 {
  font-size: 3rem;
}

.NavItems ul {
  display: flex;
}

.NavItems ul li {
  list-style: none;
  font-size: 17px;
  padding: 15px;
  border-right: 3px solid #000;
}

.container {
  flex-direction: column;
  font-size: 20px;
}

.container button {
  width: 100%;
  height: 60px;
  font-size: 17px;
  font-weight: 600;
  border: none;
  border: 1.2px solid rgb(141, 129, 129);
}

.Output-bar {
  height: 60px;
  justify-content: flex-end;
  padding-right: 8px;
  background: gray;
  color: #fff;
}

.col-5 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.button-container {
  width: 40vw;
  max-width: 400px;
}

.button-container button:last-child {
  background: rgb(225, 142, 8);
}

.Zero {
  width: 100%;
}

.App-conatiner {
  margin-top: 10%;
  justify-content: space-around;
  align-items: flex-start;
}

.App-conatiner h3 {
  font-size: 1.5rem;
}

.Home {
  margin: 50px;
}

.Home h3 {
  font-size: 25px;
}

.Home p {
  margin-top: 20px;
  font-size: 17px;
}

.quote {
  height: 70vh;
}

.quote h2 {
  font-size: 20px;
  margin: 30px;
}
